<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
    
    <div class="container container-fluid header-container">
        <div class="row">
            <div class="col text-center">
                <h1>This is the hackathon template!</h1>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>