<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>

    <div class="container justify-content-center">
        <div class="row title-row">
            <h1>This is the Hackathon Template!</h1>
        </div>
    </div>  
    
    <%- include('partials/footer') %>
</body>
</html>