<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/nav') %>
    <button class="btn btn-primary">This is a button</button>
    <%- include('partials/footer') %>
</body>
</html>